<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css" rel="stylesheet" />
    <link href="./public/css/cadastro.css" rel="stylesheet" />
    <title>Cadastro</title>
</head>

<body>
    <header>
        <nav>
            <a><img href=""></a>
            <a href="./index.html"><p>Inicio</p></a>
            <a href="./cadastro.html"><p>Cadastro</p></a>
        </nav>
    </header>
    <main>
        <form>
            <legend>Cadastro</legend>
            <fieldset>
                <label>Nome</label>
                <input type="text">
            </fieldset>
            
        </form>
    </main>
    <footer>
        <a href="linkedin.com"><i class="bi bi-linkedin"></i></a>
        <p>Todos os diretos reservados.</p>
        <a href="github.com"><i class="bi bi-github"></i></a>
    </footer>
</body>

</html>